body{
    background-image: url(../images/2560x1440-4547298-star-wars-battlefront-star-wars-video-games-x-wing-hoth-artwork.jpg);
}
#title {
    font-family: arial;
    margin-left: 55%;
}
.row {
   /* margin-left: -150px;*/
   padding-bottom: 15px;
   
}
#container {
    
}
.col-sm-3 {
    padding-left: 0;
}
.container, #btn {
    margin-left: 5%;
    text-align: center;
    
}
p {
    margin-left: auto;
    margin-right: auto;
}
.title {
    margin-left: 0;
    font-size: 25px;
}
img {
    width: 150px;
    height: 105px;
}

.col-sm-2 {
    padding-left: 0;
}

#characterSelect, #enemies, #defender, #myCharacter {
    justify-content: space-evenly;
}

#ObiRow, #AniRow, #MaulRow, #SidRow {
    border: 3px solid #73AD21;
    background-color: whitesmoke;
}
#btn {
    padding-left: 43%;
}